<header> <h1> Users </h1> </header>

<section id="searchbox">
  <%= form_tag search_index_path, method: 'get' do %>
    <input type="text" name="q" value="<%= params[:q] %>" id="q" autofocus="autofocus" placeholder="start typing to search..." tabindex="0" />
  <% end %>
</section>

<% if users.empty? %>

  <section class="no-results">
    <p>The search hasn't returned any results...</p>
  </section>

<% else %>

  <div class="paginate"> <%= paginate users %> </div>

  <section class="users">
    <legend><%= users.count %> found</legend>

    <% users.each do |user| %>
      <%= content_tag :div, class: 'result clearfix' do %>
        <p><sup><%= user.id %></sup><span class="name"><%= user.name %></span> - <span class="email"><%= user.email %></span></p>
        <blockquote><%= user.quote %><sub><%= user.quote_type %></sub></blockquote>
      <% end %>
    <% end %>
  </section>

  <div class="paginate"> <%= paginate users %> </div>

<% end %>

<script>
  $.widget( "custom.suggest", $.ui.autocomplete, {});

  $( "#q" ).suggest({
    source: '<%= suggest_search_index_path %>'
  });
</script>
